body {
    background-image: url(background1.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.nav .brand-logo {
  color: #1a237e;
  font-size: 2.0rem;
}

.nav-wrapper {
  padding: 0 50px;
}

.nav ul a {
  color: #1a237e;
  font-size: 1rem;
  padding: 0 15rem;
}

p {
  line-height: 2rem;
}

#index-banner, parallax-container {
    color: #05045a;
    font-size: 3rem;
    font-weight: normal;
    padding: 15rem 0;
    border-radius: 25px;
    background-image: url(background3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }


#index-banner {
    min-height: 50rem;
}

.section-intro {
  width: 100%;
  height: auto;
}

.Location {
  padding-top: 50px;
  height: 100%;
  width: 100%;
}

.one {
  list-style: inside;
  color: rgb(25, 6, 134);
  font-size: 1.8rem;
  background-color: rgba(143, 245, 189, 0.7);
  border-radius: 25px;
}

h1 {
  font-size: 3.5rem;
  color: #180658;
  background-color: rgba(143, 245, 189, 0.7);
  border-radius: 25px;
}

h2 {
  font-size: 2.5rem;
  color: #180658;
  background-color: rgba(143, 245, 189, 0.7);
  border-radius: 25px;
}

h3 {
  font-size: 2.5rem;
  color: #180658;
  background-color: rgba(143, 245, 189, 0.7);
  border-radius: 25px;
}

h4 {
  font-size: 1.9rem;
  color: #180658;
  background-color: rgba(143, 245, 189, 0.8);
  border-radius: 25px;
}

.btn-large {
  width: 100%;
  margin-top: 5rem;
  border-radius: 25px;
}

.btn-large:hover {
  color: #4405d6;
}

.btn-registrazione {
  width: 100%;
  border-radius: 25px;
}

.btn-registrazione:hover {
  color: #4405d6;
}

.btn-marina {
  width: 30%;
  border-radius: 35px;
}

.btn-marina:hover {
  animation: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.typeform-share:hover {
  color: #4405d6;
}

.row center {
  border-radius: 25px;
}

.Services {
  padding-top: 50px;
  width: 100%;
  height: auto;
}

.quotations {
  padding-top: 40px;
  width: 100%;
  min-height: 800px;
  height: auto;
  background-image: url(img2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  flex-wrap: wrap;
  border-radius: 25px;
  }

.item {
  flex-basis: 25%;
  padding: 20px;

}

.parallax-container {
  width: 100%;
  min-height: 800px;
  line-height: 1.5;
  height: auto;
  color: rgba(255,255,255,.5);
  border-radius: 25px;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    width: 100%;
    height: auto;
    position: absolute;
    top: 40%;
    border-radius: 25px;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    width: 100%;
    top: 20%;
    height: auto;
  }
  .nav-wrapper {
    padding: 0 10px;
  }
  item {
    flex-basis: 50%;
    padding: 20px;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.contact {
  font-size: 2.5rem;
  border-radius: 25px;
  padding: 5rem 5rem;
  background-image: image(img1.jpg);
  background-repeat: no-repeat;
  background-size: 80%;
}

.social-icon {
  font-size: 4rem;
  color: #ef5350;
  padding: 0 20px;
}

.social-icon:hover {
  color: #4405d6;
}

.privacy {
  padding-left: 10rem;
}

.footer-copyright {
  font-size: 1.5rem;
  background-color: #e1e1e9;
  border-radius: 25px;
}
